html {
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100%;
  margin: 0;

  font-size: 13px;
  line-height: 20px;
}

.hidden {
  display: none;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
}
